/*
   PSU Cloud Data CSS
------------------------------------------------------------------- */
#center {
	margin:auto;
	width:80%;
	background-color:white;
	padding:1cm 1cm 1cm 1cm;
}

body {
	background-color:#F0F0F0;
}