<html>
	<head>
		<title>FreewayData File information</title>
		<link href="/static/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div>
			<h1>File information</h1>
			<table>
				<tr><th>Filename</th><td>{{file_info.filename}}</td></tr>
				<tr><th>Size</th><td>{{file_info.size}} bytes</td></tr>
				<tr><th>Uploaded</th><td>{{file_info.creation}}</td></tr>
				<tr><th>Content Type</th><td>{{file_info.content_type}}</td>
				<tr><th>MD5 hash</th><td>{{file_info.md5_hash}}</td>
				<tr><th>Blob key</th><td>{{file_info.blobkey}}</td></tr>
				{% if file_info.daily_speed_sum %}
				<tr><th>Daily Speed Sum</th><td><a href="{{file_info.daily_speed_sum}}">{{file_info.daily_speed_sum}}</a></td></tr>
				{% endif %}
				{% if file_info.hourly_speed_sum %}
				<tr><th>Hourly Speed Sum</th><td><a href="{{file_info.hourly_speed_sum}}">{{file_info.hourly_speed_sum}}</td></tr>
				{% endif %}
				{% if file_info.fifteenmin_speed_sum %}
				<tr><th>Fifteen Min. Speed Sum</th><td><a href="{{file_info.fifteenmin_speed_sum}}">{{file_info.fifteenmin_speed_sum}}</td></tr>
				{% endif %}
				{% if file_info.fivemin_speed_sum %}
				<tr><th>Five Min Speed Sum</th><td><a href="{{file_info.fivemin_speed_sum}}">{{file_info.fivemin_speed_sum}}</td></tr>
				{% endif %}
			</table>
			<p><a href="/blobstore/{{file_info.blobkey}}">Download this file</a></p>
		</div>
	</body>
</html>
