<html>
	<head>
		<title>FreewayData</title>
		<link href="/static/style.css" rel="stylesheet" type="text/css"/>
		<script src="/mapreduce/jquery.js" type="text/javascript"></script>
		<script src="/static/custom.js" type="text/javascript"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
		<script src="//code.jquery.com/jquery-1.9.1.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	</head>
	<body>
		<div id="top">
			<h1>CS410/510 Group Project: Traffic Data Queries using Google App Engine</h1>
			<p>Shaun Brandt, Neil Gebhard, Edward Kelley, Eric Mumm, Tim Reilly</p>
		</div>
		
		<div class="header">
			<h3>Upload files to the Blobstore</h3>		
		</div>
		<div class="section">
			<div class="interior">
				<!-- File upload form -->
				<form action="{{ upload_url }}" method="post"
					enctype="multipart/form-data">
					<label for="file"><strong>File to upload:</strong></label>
					<input type="file" name="file" id="file"/>
					<br/><br/>
					<input type="submit" name="submit" value="Upload"/>
				</form>
			</div>
		</div>
		<!-- Display uploaded files, and allow for import into Datastore -->
		<div class="header">
			<h3>Import files from Blobstore to Datastore</h3>		
		</div>
		<div class="section">
			<div class="interior">
                {% if hwys_count and stns_count and stations[0].detectors %}
				<p><strong>Highways and stations are already uploaded and imported.</strong> View them below or upload a freeway_loopdata_short.csv above.</p>
				{% elif file_count %}
				<p><strong>Note:</strong> highways.csv, freeway_stations.csv, and freeway_detectors.csv.zip can be imported to Datastore</p>
				<br/>
				<table border=1>
					<tr>
						<th></th>
						<th>name</th>
						<th>uploaded on</th>
						<th>content type</th>
						<th>md5</th>
						<th>blobkey</th>
						<th>size</th>
					</tr>
					{% for file in files %}
						{% if file.filename == "highways.csv" %}
						<tr>
							<td><input type="radio" name="file_radio" onclick="updateImportForm('{{ file.blobkey }}','{{ file.blobkey }}','{{ file.filename }}');" {% if hwys_count %}disabled{% endif %}   ></td>
							<td><a href="/file/{{ file.blobkey }}">{{ file.filename }}</a></td>
							<td>{{ file.creation }}</td>
							<td>{{ file.content_type }}</td>
							<td>{{ file.md5_hash }}</td>
							<td>{{ file.blobkey }}</td>
							<td>{{ file.size }}</td>
						</tr>
						{% elif file.filename == "freeway_detectors.csv" %}
						<tr>
							<td><input type="radio" name="file_radio" onclick="updateImportForm('{{ file.blobkey }}','{{ file.blobkey }}','{{ file.filename }}');" {% if stns_count and stations[0].detectors %}disabled{% endif %}></td>
							<td><a href="/file/{{ file.blobkey }}">{{ file.filename }}</a></td>
							<td>{{ file.creation }}</td>
							<td>{{ file.content_type }}</td>
							<td>{{ file.md5_hash }}</td>
							<td>{{ file.blobkey }}</td>
							<td>{{ file.size }}</td>
						</tr>
						{% elif file.filename == "freeway_stations.csv" %}
						<tr>
							<td><input type="radio" name="file_radio" onclick="updateImportForm('{{ file.blobkey }}','{{ file.blobkey }}','{{ file.filename }}');" {% if stns_count %}disabled{% endif %}></td>
							<td><a href="/file/{{ file.blobkey }}">{{ file.filename }}</a></td>
							<td>{{ file.creation }}</td>
							<td>{{ file.content_type }}</td>
							<td>{{ file.md5_hash }}</td>
							<td>{{ file.blobkey }}</td>
							<td>{{ file.size }}</td>
						</tr>
						{% endif %}
					{% endfor %}
				</table>
				<form action="/import" method="post">
					Input File: <label id="import_fileName">none selected</label>
					<input type="hidden" name="filekey" id="import_filekey" value=""/>
					<input type="hidden" name="blobkey" id="import_blobkey" value=""/>
					<br/>
					<input type="submit" id="import" name="import" value="Import" disabled="true"/>
				</form>
				{% else %}
				<strong>No files uploaded yet!</strong>
				{% endif %}
				</div>
			</div>
		</div>
		<div class="header">
			<h3>View Datastore entities</h3>
		</div>
		<div class="section">
			<div class="interior">
			<p>Highway, Station, and Detector data stored in Datastore:</p>
			<br/>
			<!-- Highways Datastore entities table -->
				{% if hwys_count %}
				<h4>Highways</h4>
				<table border=1>
					<tr>
						<th>highwayid</td>
						<th>highwayname</th>
						<th>direction</th>
						<th>shortdirection</th>
						<th>stations</th>
					</tr>
					{% for highway in highways %}
					<tr>
						<td>{{ highway.highwayid }}</td>
						<td>{{ highway.highwayname }} </td>
						<td>{{ highway.direction }}</td>
						<td>{{ highway.shortdirection }}</td>
						<td>{{ highway.stations }}</td>
					{% endfor %}
					</tr>
				</table>
				{% else %}
				<strong>No highways found - upload highways.csv and perform import above.</strong>
				{% endif %}
			</div>
			<!-- Stations Datastore entities table -->
			<div class="interior">
				{% if stns_count %}
				<h4>Stations</h4>
				<table border=1>
					<tr>
						<th>stationid</td>
						<th>highwayid</th>
						<th>milepost</th>
						<th>locationtext</th>
						<th>upstream</th>
						<th>downstream</th>
						<th>stationclass</th>
						<th>numberlanes</th>
						<th>latlon</th>
						<th>length_mid</th>
						<th>detectors</th>
					</tr>
					{% for station in stations %}
					<tr>
						<td>{{ station.stationid }}</td>
						<td>{{ station.highwayid }} </td>
						<td>{{ station.milepost }}</td>
						<td>{{ station.locationtext }}</td>
						<td>{{ station.upstream }}</td>
						<td>{{ station.downstream }}</td>
						<td>{{ station.stationclass }}</td>
						<td>{{ station.numberlanes }}</td>
						<td>{{ station.latlon }}</td>
						<td>{{ station.length_mid }}</td>
						{% if station.detectors %}
						<td>
						{% for detector in station.detectors %}
						{{ detector.detectorid }}
						{% endfor %}
						</td>
						{% endif %}
					{% endfor %}
					</tr>
				</table>
				{% else %}
				<strong>No stations found - upload freeway_stations.csv and perform import above</strong>.
				{% endif %}
			</div>
		</div>
		<!-- MapReduce interface -->
		<div class="header">
			<h3>Run MapReduce jobs on imported data</h3>		
		</div>
		<div class="section">
			<div class="interior">
				<p>Select an input file and run a MapReduce job on it:</p>
				<br />
				{% if file_count %}
				<table border=1>
					<tr>
						<th></th>
						<th>name</th>
						<th>uploaded on</th>
						<th>content type</th>
						<th>md5</th>
						<th>blobkey</th>
						<th>size</th>
					</tr>
					{% for file in files %}
					{% if (file.filename == "freeway_loopdata_short.csv.zip") or (file.filename == "freeway_loopdata.csv.zip") or (file.filename == "freeway_loopdata_short_16.zip") or (file.filename == "freeway_loopdata_16.zip") %}
						<tr>
							<td><input type="radio" name="file_radio" onclick="updateMapReduceForm('{{ file.blobkey }}','{{ file.blobkey }}','{{ file.filename }}');"></td>
							<td><a href="/file/{{ file.blobkey }}">{{ file.filename }}</a></td>
							<td>{{ file.creation }}</td>
							<td>{{ file.content_type }}</td>
							<td>{{ file.md5_hash }}</td>
							<td>{{ file.blobkey }}</td>
							<td>{{ file.size }}</td>
						</tr>
						{% endif %}
					{% endfor %}
				</table>
				<br/>
				<form action="/map_reduce" method="post">
					<strong>Input File:</strong> <label id="mr_fileName">none selected</label>
					<input type="hidden" name="filekey" id="mr_filekey" value=""/>
					<input type="hidden" name="blobkey" id="mr_blobkey" value=""/>
					<br /><br/>
					<table>
						<tr>
							<td><input type="submit" id="daily_speed_sum" name="daily_speed_sum" value="DailySpeedSum" disabled="true"></td>
							<td><input type="submit" id="hourly_speed_sum" name="hourly_speed_sum" value="HourlySpeedSum" disabled="true"></td>
							<td><input type="submit" id="fifteen_min_speed_sum" name="fifteen_min_speed_sum" value="FifteenMinSpeedSum" disabled="true"></td>
							<td><input type="submit" id="five_min_speed_sum" name="five_min_speed_sum" value="FiveMinSpeedSum" disabled="true"></td>
						</tr>
					</table>
				</form>

				{% else %}
				<strong>No freeway_loopdata files uploaded yet!</strong>
				{% endif %}
			</div>
		</div>
		<div class="header">
			<!-- Mapper interface -->
			<h3>Run Mapper jobs on aggregated Blobstore data</h3>
		</div>
		<div class="section">
			<div class="interior">
				<p>Run a Mapper job on results from a MapReduce job.</p>
				<p>If the button for the Mapper job that you want to run is not enabled, you may need to run MapReduce for that interval.</p>
				<br />
				{% if file_count %}
				<form action="/map_reduce" method="post">
					<strong>Input File:</strong> <label id="map_fileName">none selected</label>
					<table border=1>
						<tr>
							<th>name</th>
							<th>daily_speed_sum</th>
							<th>hourly_speed_sum</th>
							<th>five_min_speed_sum</th>
							<th>fifteen_min_speed_sum</th>
						</tr>
						{% for file in files %}
						{% if (file.filename == "freeway_loopdata_short.csv.zip") or (file.filename == "freeway_loopdata.csv.zip") or (file.filename == "freeway_loopdata_short_16.zip") or (file.filename == "freeway_loopdata_16.zip") %}
						<tr>
							<td><a href="/file/{{ file.blobkey }}">{{ file.filename }}</a></td>
							<td>
							{% if file.daily_speed_sum %}
								<input type="submit" id="daily_speed_mapper" name="speed_mapper" value="DailySpeedMapper" >
								<input type="hidden" name="daily_blobkey" id="map_blobkey" value="{{ file.daily_speed_sum }}"/>
							{% endif %}
							</td>
							<td>
							{% if file.hourly_speed_sum %}
								<input type="submit" id="hourly_speed_mapper" name="speed_mapper" value="HourlySpeedMapper">
								<input type="hidden" name="hourly_blobkey" id="map_blobkey" value="{{ file.hourly_speed_sum }}"/>
							{% endif %}
							</td>
							<td>
							{% if file.fifteen_min_speed_sum %}
								<input type="submit" id="fifteen_min_speed_mapper" name="speed_mapper" value="FifteenMinSpeedMapper">
								<input type="hidden" name="fifteen_min_blobkey" id="map_blobkey" value="{{ file.fifteen_min_speed_sum }}"/>
							{% endif %}
							</td>
							<td>
							{% if file.five_min_speed_sum %}
								<input type="submit" id="five_min_speed_mapper" name="speed_mapper" value="FiveMinSpeedMapper">
								<input type="hidden" name="five_min_blobkey" id="map_blobkey" value="{{ file.five_min_speed_sum }}"/>
							{% endif %}
							</td>
						</tr>
						{% endif %}
						{% endfor %}
				</table>
				</form>
				{% else %}
				<strong>No freeway_loopdata files uploaded yet!</strong>
				{% endif %}
				
			</div>
		</div>
		<!-- Query interface -->
		<div class="header">
			<h3>Run queries</h3>
		</div>
		<div class="section">
			<script>
				$(function() {
				$( "#q1date" ).datepicker({ minDate: "09/22/2011", maxDate: "09/22/2011"});
				$( "#q2sdate" ).datepicker({ minDate: "09/15/2011"});
				$( "#q2edate" ).datepicker({ minDate: "09/15/2011"});
				$( "#q3sdate" ).datepicker({ minDate: "09/15/2011", maxDate: "11/15/2011", beforeShowDay: midweek});
				$( "#q3edate" ).datepicker({ minDate: "09/15/2011", maxDate: "11/15/2011", beforeShowDay: midweek});
				$( "#q4date" ).datepicker({ minDate: "09/22/2011", maxDate: "09/22/2011"});

				$( "#q1date" ).datepicker('setDate', "09/15/2011");
				$( "#q2sdate" ).datepicker('setDate', "09/15/2011");
				$( "#q2edate" ).datepicker('setDate', "11/15/2011");
			    	$( "#q3sdate" ).datepicker('setDate', "09/15/2011");
				$( "#q3edate" ).datepicker('setDate', "11/15/2011");
				$( "#q4date" ).datepicker('setDate', "09/22/2011");

				});
                             	var mid = ["2","3","4"];
				function midweek(date){
				var sdate = date.getDay().toString();
				if($.inArray(sdate, mid) == -1) return [false, ""];
				else return[true, ""];
				}
			</script>
			<!-- Query 1 -->
			<div class="query">
				<h3>Query #1</h3>
				<h4>Single-Day Station Travel Times</h4>
				<p>Find travel time for each NB station for 5 minute intervals for Sept 22, 2011</p>
				<form action="/Queryone" method="post">
					Freeway:     <select name="q1freeway">
							<optgroup label="I-205">
								<option value="I-205 N">I-205 N</option>
								<option value="I-205 S">I-205 S</option>
							<optgroup label="OR 217">
								<option value="OR217 N">OR 217 N</option>
								<option value="OR217 S">OR 217 S</option>
							<optgroup label="I-5">
								<option value="I-5 N">I-5 N</option>
								<option value="I-5 S">I-5 S</option>
							<optgroup label="US 26">
								<option value="US26 E">US 26 E</option>
								<option value="US26 W">US 26 W</option>
							<optgroup label="I-405">
								<option value="I-405 N">I-405 N</option>
								<option value="I-405 S">I-405 S</option>
							<optgroup label="I-84">
								<option value="I-84 E">I-84 E</option>
								<option value="I-84 W">I-84 W</option>
							</select><br/>
					Interval:    <select name="q1interval">
							<option value="5Min">5 Min</option>
							<option value="15Min">15 Min</option>
							<option value="1Hour">1 Hour</option>
							<option value="Day">1 Day</option>
							</select><br/>
					<label>Date:<input type="text" name="q1date" id="q1date"/></label><br/>
					<input type="submit" name="q1run" value="Run"/>
				</form>				
			</div>
				<!-- Query 2 -->
			<div class="query">
				<h3>Query #2</h3>
				<h4>Hourly Corridor Travel Times</h4>
				<p>Find travel time for the entire I-205 NB freeway section in the data set (Sunnyside Rd to the river - all NB stations in the data set) for each hour in the 2-month test period</p>
				<form action="/Querytwo" method="post">
					Freeway:     <select name="q2freeway">
							<optgroup label="I-205">
								<option value="I-205 N">I-205 N</option>
								<option value="I-205 S">I-205 S</option>
							<optgroup label="OR 217">
								<option value="OR217 N">OR 217 N</option>
								<option value="OR217 S">OR 217 S</option>
							<optgroup label="I-5">
								<option value="I-5 N">I-5 N</option>
								<option value="I-5 S">I-5 S</option>
							<optgroup label="US 26">
								<option value="US26 E">US 26 E</option>
								<option value="US26 W">US 26 W</option>
							<optgroup label="I-405">
								<option value="I-405 N">I-405 N</option>
								<option value="I-405 S">I-405 S</option>
							<optgroup label="I-84">
								<option value="I-84 E">I-84 E</option>
								<option value="I-84 W">I-84 W</option>
							</select><br/>
					<label>Start Date: <input type="text" name="q2sdate" id="q2sdate"/></label><br/>
					<label>End Date: <input type="text" name="q2edate" id="q2edate"></label><br/>
					<input type="submit" name="q2run" value="Run"/>
				</form>		
			</div>
			<!-- Query 3 -->
			<div class="query">
				<h3>Query #3</h3>
				<h4>Mid-Weekday Peak Period Travel Times</h4>
				<p>Find the average travel time for 7-9AM and 4-6PM on Tuesdays, Wednesdays and Thursdays for the I-205 NB freeway during the 2-month test period</p>
				<form action="/Querythree " method="post">
					Freeway:     <select name="q3freeway">
							<optgroup label="I-205">
								<option value="I-205 N">I-205 N</option>
								<option value="I-205 S">I-205 S</option>
							<optgroup label="OR 217">
								<option value="OR217 N">OR 217 N</option>
								<option value="OR217 S">OR 217 S</option>
							<optgroup label="I-5">
								<option value="I-5 N">I-5 N</option>
								<option value="I-5 S">I-5 S</option>
							<optgroup label="US 26">
								<option value="US26 E">US 26 E</option>
								<option value="US26 W">US 26 W</option>
							<optgroup label="I-405">
								<option value="I-405 N">I-405 N</option>
								<option value="I-405 S">I-405 S</option>
							<optgroup label="I-84">
								<option value="I-84 E">I-84 E</option>
								<option value="I-84 W">I-84 W</option>
							</select><br/>
					<label>Start Date: <input type="text" name="q3sdate" id="q3sdate"/></label><br/>
					<label>End Date: <input type="text" name="q3edate" id="q3edate"></label><br/>
					<input type="submit" name="q3run" value="Run"/>
				</form>			
			</div>
			<!-- Query 4 -->
			<div class="query">
				<h3>Query #4</h3>
				<h4>Station-to-Station Travel Times</h4>
				</p>Find travel time for all station-to-station NB pairs for 8AM on Sept 22, 2011</p>
				<form action="/Queryfour" method="post">
					Freeway:     <select name="q4freeway">
							<optgroup label="I-205">
								<option value="I-205 N">I-205 N</option>
								<option value="I-205 S">I-205 S</option>
							<optgroup label="OR 217">
								<option value="OR217 N">OR 217 N</option>
								<option value="OR217 S">OR 217 S</option>
							<optgroup label="I-5">
								<option value="I-5 N">I-5 N</option>
								<option value="I-5 S">I-5 S</option>
							<optgroup label="US 26">
								<option value="US26 E">US 26 E</option>
								<option value="US26 W">US 26 W</option>
							<optgroup label="I-405">
								<option value="I-405 N">I-405 N</option>
								<option value="I-405 S">I-405 S</option>
							<optgroup label="I-84">
								<option value="I-84 E">I-84 E</option>
								<option value="I-84 W">I-84 W</option>
							</select><br/>
					Time:	     <select name="q4hour">
							<option value= "1">1</option>
							<option value= "2">2</option>
							<option value= "3">3</option>
							<option value= "4">4</option>
							<option value= "5">5</option>
							<option value= "6">6</option>
							<option value= "7">7</option>
							<option value= "8">8</option>
							<option value= "9">9</option>
							<option value= "10">10</option>
							<option value= "11">11</option>
							<option value= "12">12</option>
							</select>
							<select name="q4min">
							<option value="00">00</option>
							<option value="05">05</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
							<option value="25">25</option>
							<option value="30">30</option>
							<option value="35">35</option>
							<option value="40">40</option>
							<option value="45">45</option>
							<option value="50">50</option>
							<option value="55">55</option>
							</select>
							<select name="q4ampm">
							<option value="AM">AM</option>
							<option value="PM">PM</option>
							</select><br/>
					<label>Date:<input type="text" name="q4date" id="q4date"/></label><br/>
					<input type="submit" name="q4run" value="Run"/>
				</form>						
			</div>
		</div>
	</body>
</html>
