<html>
	<head>
		<title>FreewayData</title>
		<link href="/static/style.css" rel="stylesheet" type="text/css"/>
		<script src="/mapreduce/jquery.js" type="text/javascript"></script>
		<script src="/static/custom.js" type="text/javascript"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
		<script src="//code.jquery.com/jquery-1.9.1.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	</head>
	<body>
		<div>
			<!-- File upload form -->
			<form action="{{ upload_url }}" method="post"
				enctype="multipart/form-data">
				<h3>Upload files to the Blobstore</h3>
				<label for="file">Filename:</label>
				<input type="file" name="file" id="file"/>
				<br/>
				<input type="submit" name="submit" value="Upload"/>
			</form>
			<hr>
			<!-- Display uploaded files, and allow for import into Datastore -->
			<div>
				<h3>Import files from Blobstore to Datastore</h3>
				<p>highways.csv, freeway_stations.csv, and freeway_detectors.csv can be imported to Datastore</p>
				{% if file_count %}
				<table border=1>
					<tr>
						<th></th>
						<th>name</th>
						<th>uploaded on</th>
						<th>content type</th>
						<th>md5</th>
						<th>blobkey</th>
						<th>size</th>
					</tr>
					{% for file in files %}
					<tr>
						<td><input type="radio" name="file_radio" onclick="updateImportForm('{{ file.blobkey }}','{{ file.blobkey }}','{{ file.filename }}');"></td>
						<td><a href="/file/{{ file.blobkey }}/download">{{ file.filename }}</a></td>
						<td>{{ file.creation }}</td>
						<td>{{ file.content_type }}</td>
						<td>{{ file.md5_hash }}</td>
						<td>{{ file.blobkey }}</td>
						<td>{{ file.size }}</td>
					</tr>
					{% endfor %}
				</table>
				<br/>
				<form action="/import" method="post">
					Input File: <label id="fileName">none selected</label>
					<input type="hidden" name="filekey" id="filekey" value=""/>
					<input type="hidden" name="blobkey" id="blobkey" value=""/>
					<br/>
					<input type="submit" id="import" name="import" value="Import" disabled="true"/>
				</form>
				{% else %}
				<div>No files uploaded yet!</div>
				{% endif %}
			</div>
			<hr/>
			<h3>View Datastore entities</h3>
			<p>Highway, Station, and Detector data stored in Datastore</p>
			<!-- Highways Datastore entities table -->
			<div>
				{% if hwys_count %}
				<h4>Highways</h4>
				<table border=1>
					<tr>
						<th>highwayid</td>
						<th>highwayname</th>
						<th>direction</th>
						<th>shortdirection</th>
						<th>stations</th>
					</tr>
					{% for highway in highways %}
					<tr>
						<td>{{ highway.highwayid }}</td>
						<td>{{ highway.highwayname }} </td>
						<td>{{ highway.direction }}</td>
						<td>{{ highway.shortdirection }}</td>
						<td>{{ highway.stations }}</td>
					{% endfor %}
					</tr>
				</table>
				{% else %}
				No highways found - upload highways.csv and perform import above.
				{% endif %}
			</div>
			<!-- Stations Datastore entities table -->
			<div>
				{% if stns_count %}
				<h4>Stations</h4>
				<table border=1>
					<tr>
						<th>stationid</td>
						<th>highwayid</th>
						<th>milepost</th>
						<th>locationtext</th>
						<th>upstream</th>
						<th>downstream</th>
						<th>stationclass</th>
						<th>numberlanes</th>
						<th>latlon</th>
						<th>length_mid</th>
						<th>detectors</th>
					</tr>
					{% for station in stations %}
					<tr>
						<td>{{ station.stationid }}</td>
						<td>{{ station.highwayid }} </td>
						<td>{{ station.milepost }}</td>
						<td>{{ station.locationtext }}</td>
						<td>{{ station.upstream }}</td>
						<td>{{ station.downstream }}</td>
						<td>{{ station.stationclass }}</td>
						<td>{{ station.numberlanes }}</td>
						<td>{{ station.latlon }}</td>
						<td>{{ station.length_mid }}</td>
						{% if station.detectors %}
						<td>
						{% for detector in station.detectors %}
						{{ detector.detectorid }}
						{% endfor %}
						</td>
						{% endif %}
					{% endfor %}
					</tr>
				</table>
				{% else %}
				No stations found - upload freeway_stations.csv and perform import above</a>.
				{% endif %}
			</div>
			<!-- MapReduce interface -->
			<hr/>
			<div>
				<h3>Run MapReduce jobs on imported data</h3>
				<p>Select an input file above, and run a MapReduce job on it</p>
				<form action="/map_reduce" method="post">
					Input File: <label id="mr_fileName">none selected</label>
					<input type="hidden" name="filekey" id="mr_filekey" value=""/>
					<input type="hidden" name="blobkey" id="mr_blobkey" value=""/>
					<br />
					<br />
					<table>
						<tr>
							<td><input type="submit" id="daily_speed_sum" name="daily_speed_sum" value="DailySpeedSum" disabled="true"></td>
						</tr>
					
						<tr>
							<td><input type="submit" id="hourly_speed_sum" name="hourly_speed_sum" value="HourlySpeedSum" disabled="true"></td>
						</tr>
					</table>
				</form>
			</div>
			<!-- Query interface -->
			<hr/>
			<script>
				$(function() {
				  $( "#q1date" ).datepicker({ minDate: "09/15/2011"});
				  $( "#q2sdate" ).datepicker({ minDate: "09/15/2011"});
				  $( "#q2edate" ).datepicker({ minDate: "09/15/2011"});
				  $( "#q3sdate" ).datepicker({ minDate: "09/15/2011", beforeShowDay: midweek});
				  $( "#q3edate" ).datepicker({ minDate: "09/15/2011", beforeShowDay: midweek});
				  $( "#q4date" ).datepicker({ minDate: "09/15/2011"});

				  $( "#q1date" ).datepicker('setDate', "09/15/2011");
				  $( "#q2sdate" ).datepicker('setDate', "09/15/2011");
				  $( "#q2edate" ).datepicker('setDate', "09/15/2011");
				  $( "#q3sdate" ).datepicker('setDate', "09/15/2011");
				  $( "#q3edate" ).datepicker('setDate', "09/15/2011");
				  $( "#q4date" ).datepicker('setDate', "09/15/2011");
				  });

                             	var mid = ["2","3","4"];
				function midweek(date){
				  var sdate = date.getDay().toString();
				  if($.inArray(sdate, mid) == -1) return [false, ""];
				  else return[true, ""];
          			}
			</script>
			
			<h3>Query #1</h3>
			<p>Single-Day Station Travel Times</p>
			<!-- Query 1 -->
			<div>
				
				<form action="/Queryone" method="post">
					Freeway:     <select name="q1freeway">
							<optgroup label="I-205">
								<option value="I-205N">I-205 N</option>
								<option value="I-205S">I-205 S</option>
							<optgroup label="OR 217">
								<option value="OR217N">OR 217 N</option>
								<option value="OR217S">OR 217 S</option>
							<optgroup label="I-5">
								<option value="I-5N">I-5 N</option>
								<option value="I-5S">I-5 S</option>
							<optgroup label="US 26">
								<option value="US26E">US 26 E</option>
								<option value="US26W">US 26 W</option>
							<optgroup label="I-405">
								<option value="I-405N">I-405 N</option>
								<option value="I-405S">I-405 S</option>
							<optgroup label="I-84">
								<option value="I-84E">I-84 E</option>
								<option value="I-84W">I-84 W</option>
						     </select><br/>
					Interval:    <select name="q1interval">
							<option value="5Min">5 Min</option>
							<option value="15Min">15 Min</option>
							<option value="1Hour">1 Hour</option>
							<option value="Day">1 Day</option>
						     </select><br/>
					<label>Date:<input type="text" name="q1date" id="q1date"/></label><br/>
					<input type="submit" name="q1run" value="Run"/>
				</form>
				
			</div>
			<h3>Query #2</h3>
			<p>Hourly Corridor Travel Times</p>
			<!-- Query 2 -->
			<div>
				<form action="/Querytwo" method="post">
					Freeway:     <select name="q2freeway">
							<optgroup label="I-205">
								<option value="I-205N">I-205 N</option>
								<option value="I-205S">I-205 S</option>
							<optgroup label="OR 217">
								<option value="OR217N">OR 217 N</option>
								<option value="OR217S">OR 217 S</option>
							<optgroup label="I-5">
								<option value="I-5N">I-5 N</option>
								<option value="I-5S">I-5 S</option>
							<optgroup label="US 26">
								<option value="US26E">US 26 E</option>
								<option value="US26W">US 26 W</option>
							<optgroup label="I-405">
								<option value="I-405N">I-405 N</option>
								<option value="I-405S">I-405 S</option>
							<optgroup label="I-84">
								<option value="I-84E">I-84 E</option>
								<option value="I-84W">I-84 W</option>
						     </select><br/>
					<label>Start Date: <input type="text" name="q1sdate" id="q2sdate"/></label><br/>
					<label>End Date: <input type="text" name="q1edate" id="q2edate"></label><br/>
					<input type="submit" name="q2run" value="Run"/>
				</form>		
			</div>
			<h3>Query #3</h3>
			<p>Mid-Weekday Peak Period Travel Times</p>
			<!-- Query 3 -->
			<div>
				<form action="/Querythree " method="post">
					Freeway:     <select name="q3freeway">
							<optgroup label="I-205">
								<option value="I-205N">I-205 N</option>
								<option value="I-205S">I-205 S</option>
							<optgroup label="OR 217">
								<option value="OR217N">OR 217 N</option>
								<option value="OR217S">OR 217 S</option>
							<optgroup label="I-5">
								<option value="I-5N">I-5 N</option>
								<option value="I-5S">I-5 S</option>
							<optgroup label="US 26">
								<option value="US26E">US 26 E</option>
								<option value="US26W">US 26 W</option>
							<optgroup label="I-405">
								<option value="I-405N">I-405 N</option>
								<option value="I-405S">I-405 S</option>
							<optgroup label="I-84">
								<option value="I-84E">I-84 E</option>
								<option value="I-84W">I-84 W</option>
						     </select><br/>
					<label>Start Date: <input type="text" name="q1sdate" id="q3sdate"/></label><br/>
					<label>End Date: <input type="text" name="q1edate" id="q3edate"></label><br/>
					<input type="submit" name="q3run" value="Run"/>
				</form>			
			</div>
			<h3>Query #4</h3>
			<p>Station-to-Station Travel Times</p>
			<!-- Query 4 -->
			<div>
				<form action="/Queryfour" method="post">
					Freeway:     <select name="q4freeway">
							<optgroup label="I-205">
								<option value="I-205N">I-205 N</option>
								<option value="I-205S">I-205 S</option>
							<optgroup label="OR 217">
								<option value="OR217N">OR 217 N</option>
								<option value="OR217S">OR 217 S</option>
							<optgroup label="I-5">
								<option value="I-5N">I-5 N</option>
								<option value="I-5S">I-5 S</option>
							<optgroup label="US 26">
								<option value="US26E">US 26 E</option>
								<option value="US26W">US 26 W</option>
							<optgroup label="I-405">
								<option value="I-405N">I-405 N</option>
								<option value="I-405S">I-405 S</option>
							<optgroup label="I-84">
								<option value="I-84E">I-84 E</option>
								<option value="I-84W">I-84 W</option>
						     </select><br/>
					Time:	     <select name="q4hour">
							<option value= "1">1</option>
							<option value= "2">2</option>
							<option value= "3">3</option>
							<option value= "4">4</option>
							<option value= "5">5</option>
							<option value= "6">6</option>
							<option value= "7">7</option>
							<option value= "8">8</option>
							<option value= "9">9</option>
							<option value= "10">10</option>
							<option value= "11">11</option>
							<option value= "12">12</option>
						     </select>
						     <select name="q4min">
							<option value="00">00</option>
							<option value="05">05</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
							<option value="25">25</option>
							<option value="30">30</option>
							<option value="35">35</option>
							<option value="40">40</option>
							<option value="45">45</option>
							<option value="50">50</option>
							<option value="55">55</option>
						     </select>
						     <select name="q4ampm">
							<option value="AM">AM</option>
							<option value="PM">PM</option>
						     </select><br/>
					<label>Date:<input type="text" name="q4date" id="q4date"/></label><br/>
					<input type="submit" name="q4run" value="Run"/>
				</form>						
			</div>
		</div>
		<hr/>
	</body>
</html>
